* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-size: 62.5px; */
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --bg-color: #000008;
  --second-bg-color: #131313;
  --text-color: white;
  --main-color: #00ffee;
}

html {
  font-size: 60%;
  overflow-x: hidden;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
  width: 100%;
  padding: 4rem 12% 4rem;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  z-index: 5;
}

.logo {
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: 800;
  cursor: pointer;
  transition: all 0.3s ease;
}

.logo:hover {
  transform: scale(1.1);
}

.logo span {
  box-shadow: 0 0 25px var(--main-color);
  color: var(--main-color);
  display: inline-block;
  background-color: var(--bg-color);
}

header ul {
  display: flex;
}

header ul li {
  list-style: none;
}

.navbar ul li a {
  text-decoration: none;
  font-size: 1.8rem;
  color: var(--text-color);
  margin-left: 4rem;
  font-weight: 500;
  transition: all 0.3s ease;
  border-bottom: 3px solid transparent;
}

.navbar ul li a:hover,
.navbar ul li a.active {
  color: var(--main-color);
  border-bottom: 3px solid var(--main-color);
  border-width: 0.4rem;
}

#menuIcon {
  font-size: 1.8rem;
  display: none;
  color: var(--main-color);
}

/* home */

section {
  min-height: 70vh;
  align-items: center;
  justify-content: center;
  margin-bottom: 5vh;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15rem;
  margin-top: 7vh;
  padding: 1rem 20% 1rem;
}

.homeContent {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  text-align: left;
  margin-top: 3rem;
}

span {
  color: var(--main-color);
}

.homeContent h1 {
  font-size: 10rem;
  font-weight: 700;
  margin-top: 1.5rem;
  line-height: 1;
}

.homeContent h3 {
  margin-bottom: 2rem;
  margin-top: 1rem;
  font-size: 3.5rem;
}

.textAnimation {
  font-size: 34px;
  font-weight: 600;
  min-width: 280px;
}

.textAnimation span {
  position: relative;
}

.textAnimation span::before {
  content: "Web Developer";
  color: var(--main-color);
  animation: words 20s infinite;
}

.textAnimation span::after {
  content: "";
  background-color: var(--bg-color);
  position: absolute;
  width: calc(100% + 8px);
  height: 100%;
  border-left: 3px solid var(--bg-color);
  right: -8px;
  animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
  to {
    border-left: 2px solid var(--bg-color);
  }
}

@keyframes words {
  0%,
  20% {
    content: "UI/UX Designer";
  }
  21%,
  40% {
    content: "Web Designer";
  }
  41%,
  60% {
    content: "Web Developer";
  }
  61%,
  80% {
    content: "Frontend Developer";
  }
  81%,
  100% {
    content: "Software Developer";
  }
}

@keyframes typing {
  10%,
  15%,
  30%,
  35%,
  50%,
  55%,
  70%,
  75%,
  90%,
  95% {
    width: 0;
  }
  5%,
  20%,
  25%,
  40%,
  45%,
  60%,
  65%,
  80%,
  85% {
    width: calc(100% + 8px);
  }
}

.heroImg img {
  position: relative;
  top: 3rem;
  width: 32vw;
  height: 70vh;
  border-radius: 50%;
  box-shadow: 0 0 20px var(--main-color);
  cursor: pointer;
  transition: all 0.3s ease;
}
.heroImg img:hover {
  box-shadow: 0 0 20px var(--main-color), 0 0 45px var(--main-color),
    0 0 100px var(--main-color);
}

.homeContent p {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.8;
  max-width: 1000px;
}

.socialIcons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4.5rem;
  height: 4.5rem;
  background: transparent;
  border: 2px solid var(--main-color);
  font-size: 2.5rem;
  border-radius: 50%;
  color: var(--main-color);
  margin: 3rem 1.5rem 3rem 0;
  transition: all 0.3s ease-in-out;
}

.socialIcons a:hover {
  color: var(--text-color);
  transform: scale(1.3) translateY(-5px);
  background-color: var(--main-color);
}

.btnGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}

.btnGroup a:nth-child(2) {
  background-color: black;
  color: var(--main-color);
  border: 2px solid var(--main-color);
  box-shadow: 0 0 20px transparent;
}

.btnGroup a:nth-child(2):hover {
  color: black;
  background-color: var(--main-color);
  box-shadow: 0 0 20px var(--main-color);
}

.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--main-color);
  border-radius: 4rem;
  box-shadow: 0 0 20px var(--main-color);
  color: #000;
  letter-spacing: 0.1rem;
  font-weight: 600;
  border: 2px solid transparent;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.btn:hover {
  box-shadow: 0 0 20px var(--main-color);
  transform: scale(1.05);
}

/*-------------- About -----------*/

#about {
  padding: 80px 0;
  color: var(--main-color);
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.aboutCol1 {
  flex-basis: 35%;
}

.aboutCol1 img {
  width: 100%;
  margin-top: 25vh;
  border-radius: 2rem;
}

.aboutCol2 {
  flex-basis: 60%;
}

.aboutCol2 .subTitle {
  font-size: 8rem;
  font-weight: 600;
}

.aboutCol2 .aboutContent {
  color: #c2c2c2;
  font-size: 2rem;
}

.tabTitles {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 4rem;
}

.tabLinks {
  color: var(--main-color);
  font-size: 3rem;
  font-weight: 500;
  position: relative;
  cursor: pointer;
}

.tabLinks::after {
  content: " ";
  position: absolute;
  width: 0;
  height: 0.2rem;
  background: #ff004f;
  left: 0;
  bottom: -8px;
}

.tabLinks.activeLink::after {
  width: 50%;
}

.tabContents {
  padding-top: 1rem;
  display: none;
}

.tabContents.activeTab {
  display: block;
}

.tabContents ul li {
  list-style: none;
  margin: 1rem 0;
  font-size: 2rem;
  color: var(--text-color);
}

.tabContents ul li span {
  color: #b54769;
  font-size: 2.5rem;
}

.timelineItems {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  max-width: 100vw;
  margin: 4rem auto auto 5vw;
}

.timelineItems::after {
  content: " ";
  position: absolute;
  width: 5px;
  height: 100%;
  background-color: var(--main-color);
  left: calc(50% - 1px);
}

.timelineItem {
  margin-bottom: 2.2rem;
  width: 100%;
  position: relative;
}

.timelineItem:last-child {
  margin-bottom: 0;
}

.timelineItem:nth-child(odd) {
  padding-right: calc(50% + 4rem);
  text-align: right;
}

.timelineItem:nth-child(even) {
  padding-left: calc(50% + 4rem);
  text-align: left;
}

.timelineDot {
  height: 2rem;
  width: 2rem;
  background-color: var(--main-color);
  box-shadow: 0 0 2.3rem var(--main-color), 0 0 4.6rem var(--main-color);
  position: absolute;
  left: calc(50% - 0.8rem);
  top: 1rem;
  border-radius: 50%;
}

.timelineDate {
  font-size: 2rem;
  font-weight: 800;
  color: white;
  margin: 1rem 3rem 1.5rem;
}

.timelineContent {
  background-color: var(--bg-color);
  border: 0.3rem solid var(--main-color);
  border-radius: 4rem;
  padding: 3rem 5rem;
  box-shadow: 0 0 1rem var(--main-color);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.timelineContent:hover {
  transform: scale(1.05);
  box-shadow: 0 0 2rem var(--main-color);
}

.timelineContent h3 {
  font-size: 2rem;
  color: white;
  margin: 0 0 10px;
  font-weight: 500;
}

.timelineContent p {
  color: white;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 2.2rem;
}

::-webkit-scrollbar {
  width: 1.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}

::-webkit-scrollbar-track {
  background-color: var(--bg-color);
  width: 5rem;
}

/* -------------------Projects----------------------- */

.projects {
  min-height: 100vh;
  padding: 10rem 20% 10rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.projects h2 {
  color: white;
  margin-bottom: 3rem;
  font-size: 6rem;
}

.mainContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  max-width: 1250px;
  margin: 150px auto;
  padding: 20px;
  gap: 20px;
}

.mainCard {
  padding: 1rem;
  background: greenyellow;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  border: 4px solid #cc6600;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.mainCard:hover {
  transform: rotateY(180deg);
}

.theFront {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  overflow: hidden;
}

.theBack {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  overflow: hidden;
  font-size: 25px;
  font-weight: 600;
  color: #4d2600;
  background: #fafafa;
  padding: 5px;
  text-align: center;
  transform: rotateY(180deg);
}

.description {
  border: 2px solid #ff004f;
  height: 89%;
  width: 100%;
}

.description ol {
  list-style: decimal;
  list-style-type: decimal;
  line-height: 3.8rem;
}

.description ol li {
  margin: 2.5rem auto;
}

.cItem {
  padding: 26px;
  border-radius: 8px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.04);
  list-style: none;
  cursor: pointer;
  text-decoration: none;
  border: 2px solid transparent;
  transition: border 0.5s ease;
}

.cItem img {
  width: 100%;
  aspect-ratio: 16/9;
  border: 3px solid #cc6600;
  border-radius: 8px;
  object-fit: cover;
  margin-left: -2.8rem;
}
.cItem span {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: #f7dff5;
  margin-top: 32px;
  padding: 8px 15px;
  font-size: 1.75rem;
  border-radius: 5px;
  font-weight: 600;
}

.cItem span i {
  font-size: 3.5rem;
  border-radius: 50%;
  height: 4rem;
}

.cItem h2 {
  color: #000;
  font-size: 1.438rem;
  margin-top: 28px;
  font-weight: 800;
  font-style: italic;
}
.cItem .arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-35deg);
  height: 40px;
  width: 40px;
  color: #000;
  border: 1px solid #000;
  border-radius: 50%;
  margin-top: 40px;
  transition: 0.2s ease;
}
.cList .cItem:hover .arrow {
  background: #000;
  color: #fff;
}

@media (max-width: 1200px) {
  .cList .cItem {
    padding: 15px;
  }
}
@media screen and (max-width: 980px) {
  .cList {
    margin: 0 auto;
  }
}

/* -------------------Contact----------------------- */

.contact {
  background-color: var(--bg-color);
}

.contact h2 {
  color: white;
  margin-bottom: 3rem;
  font-size: 6rem;
}

.contact form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
  margin: 5rem auto;
  text-align: center;
}

.inputGroup {
  display: flex;
  flex-direction: column;
}

.contact form input,
.contact form textarea {
  width: 100%;
  padding: 2.5rem;
  font-size: 1.8rem;
  color: var(--text-color);
  background: var(--bg-color);
  border-radius: 2rem;
  border: 0.4rem solid var(--main-color);
  margin: 1.5rem 0;
  resize: none;
}

.contact form .btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--main-color);
  border-radius: 4rem;
  box-shadow: 0 0 20px var(--main-color);
  color: #000;
  letter-spacing: 0.1rem;
  font-weight: 600;
  border: 2px solid transparent;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  margin-top: 2rem;
}
/* --------------------Certifications--------------------- */

.certifications {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  height: 500px;
  display: flex;
  min-width: 400px;
  align-items: flex-end;
  justify-content: center;
  margin-top: 20rem;
}

.slider-wrapper {
  overflow: hidden;
  max-width: 1200px;
  margin: 0 70px 55px;
}
.card-list .card-item {
  height: auto;
  color: #fff;
  user-select: none;
  padding: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  backdrop-filter: blur(30px);
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.card-list .card-item .Certificate {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 40px;
  border: 3px solid #fff;
  padding: 4px;
}
.card-list .card-item .certifcateName {
  font-size: 2rem;
  color: #e3e3e3;
  font-weight: 600;
  font-style: italic;
  margin: 14px 0 40px;
}
.card-list .card-item .message-button {
  font-size: 1.25rem;
  padding: 10px 35px;
  color: #030728;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
  background: #fff;
  border: 1px solid transparent;
  transition: 0.2s ease;
}
.card-list .card-item .message-button:hover {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid #fff;
  color: #fff;
}
.slider-wrapper .swiper-pagination-bullet {
  background: #fff;
  height: 13px;
  width: 13px;
  opacity: 0.5;
}
.slider-wrapper .swiper-pagination-bullet-active {
  opacity: 1;
}
.slider-wrapper .swiper-slide-button {
  color: #fff;
  margin-top: -55px;
  transition: 0.2s ease;
}
.slider-wrapper .swiper-slide-button:hover {
  color: #4658ff;
}
@media (max-width: 768px) {
  .slider-wrapper {
    margin: 0 10px 40px;
  }
  .slider-wrapper .swiper-slide-button {
    display: none;
  }
}

/* --------------------Footer--------------------- */

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 4rem 0;
  background-color: var(--second-bg-color);
}

.footer .socials {
  text-align: center;
  padding-bottom: 2.5rem;
  color: var(--main-color);
}

.footer .socials a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4.5rem;
  height: 4.5rem;
  background: transparent;
  border: 2px solid var(--main-color);
  font-size: 2.5rem;
  border-radius: 50%;
  color: var(--main-color);
  margin: 3rem 1.5rem 3rem 0;
  transition: all 0.3s ease-in-out;
}

.footer .socials a:hover {
  color: black;
  transform: scale(1.3) translateY(-5px);
  background-color: var(--main-color);
}

.footer ul {
  list-style: none;
  margin-top: 0;
  padding: 0;
  margin-bottom: 0;
  line-height: 1.6;
  text-align: center;
  font-size: 1.8rem;
}

.footer ul li {
  display: inline-block;
  padding: 0 1.5rem;
}

.footer ul li a {
  color: white;
  border-bottom: 3px solid transparent;
  transition: 0.3s ease-in-out;
}

.footer ul li a:hover {
  border-bottom: 3px solid var(--main-color);
}

.footer .Copy {
  position: relative;
  bottom: -3.7rem;
}

.footer .Copy .copyright {
  margin-top: 5rem;
  text-align: center;
  font-size: 16px;
  color: white;
}
.footer .Copy .msg {
  margin-top: 1rem;
  bottom: 0;
  text-align: center;
  background: rgb(0, 0, 5);
  font-size: 16px;
  color: white;
}

.footer .Copy .msg span {
  color: #ff004f;
}

.footer .Copy .msg a {
  text-decoration: none;
  color: var(--main-color);
}
